/*
 * Copyright (c) 2015-2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
/ {
	host1x {
		vi@15700000 {
			num-channels = <6>;
            		#address-cells = <1>;
            		#size-cells = <0>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
                    			status = "okay";
					ov5640_vi_in0: endpoint {
                        			status = "okay";
						port-index = <0>;
						bus-width = <4>;
						remote-endpoint = <&ov5640_csi_out0>;
					};
				};
				port@1 {
					reg = <1>;
                    			status = "okay";
					ov5640_vi_in1: endpoint {
                        			status = "okay";
						port-index = <1>;
						bus-width = <4>;
						remote-endpoint = <&ov5640_csi_out1>;
					};
				};
				port@2 {
					reg = <2>;
                    			status = "okay";
					ov5640_vi_in2: endpoint {
                        		status = "okay";
						port-index = <2>;
						bus-width = <4>;
						remote-endpoint = <&ov5640_csi_out2>;
					};
				};
			};
		};

		nvcsi@150c0000 {
			num-channels = <6>;
            		#address-cells = <1>;
            		#size-cells = <0>;
			channel@0 {
				reg = <0>;
                		status = "okay";
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
                        			status = "okay";
						ov5640_csi_in0: endpoint@0 {
                            				status = "okay";
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&ov5640_out0>;
						};
					};
					port@1 {
						reg = <1>;
                        			status = "okay";
						ov5640_csi_out0: endpoint@1 {
                            				status = "okay";
							remote-endpoint = <&ov5640_vi_in0>;
						};
					};
				};
			};
			channel@1 {
				reg = <1>;
                		status = "okay";
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
                        			status = "okay";
						ov5640_csi_in1: endpoint@0 {
                            				status = "okay";
							port-index = <1>;
							bus-width = <4>;
							remote-endpoint = <&ov5640_out1>;
						};
					};
					port@1 {
						reg = <1>;
                       				status = "okay";
						ov5640_csi_out1: endpoint@1 {
                            				status = "okay";
							remote-endpoint = <&ov5640_vi_in1>;
						};
					};
				};
			};
			channel@2 {
				reg = <2>;
                		status = "okay";
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
                        			status = "okay";
						ov5640_csi_in2: endpoint@0 {
                            				status = "okay";
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&ov5640_out2>;
						};
					};
					port@1 {
						reg = <1>;
                        			status = "okay";
						ov5640_csi_out2: endpoint@1 {
                            				status = "okay";
							remote-endpoint = <&ov5640_vi_in2>;
						};
					};
				};
			};	
		};
	};
	i2c@3160000 {
			ov5640_c@3c {
                    			status = "okay";
					devnode = "video2";
					compatible = "nvidia,ov5640";

					reg = <0x3c>;




					physical_w = "3.674";
					physical_h = "2.738";



					avdd-reg = "vana";
					iovdd-reg = "vif";

					vertical-flip = "true";

					mode0 { //OV5640_MODE_1920x1080
						mclk_khz = "24000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
                        			phy_mode = "DPHY";
						//discontinuous_clk = "no";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "1920";
						active_h = "1080";
						pixel_t = "uyvy";
						readout_orientation = "90";
						line_length = "2500";
						inherent_gain = "1";
						pix_clk_hz = "160000000";
						mclk_multiplier = "6.67";

						min_gain_val = "0";
						max_gain_val = "48";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1.816577";
						max_framerate = "30";
						min_exp_time = "34";
						max_exp_time = "660000";
						embedded_metadata_height = "0";
					};
					mode2 { //OV5693_MODE_1280X720
						mclk_khz = "24000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						//discontinuous_clk = "no";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "1280";
						active_h = "720";
						pixel_t = "uyvy";
						readout_orientation = "90";
						line_length = "1752";
						inherent_gain = "1";
						mclk_multiplier = "6.67";
						pix_clk_hz = "160000000";

						min_gain_val = "0";
						max_gain_val = "48";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1.816577";
						max_framerate = "30";
						min_exp_time = "34";
						max_exp_time = "660000";
						embedded_metadata_height = "0";
					};
				
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
                            status = "okay";
							ov5640_out2: endpoint {
                                status = "okay";
								port-index = <2>;
								bus-width = <4>;
								remote-endpoint = <&ov5640_csi_in2>;
							};
						};
					};
		
				};		
	};
	i2c@c240000 {
			ov5640_b@3c {
                    status = "okay";
					devnode = "video1";
					compatible = "nvidia,ov5640";

					reg = <0x3c>;
					physical_w = "3.674";
					physical_h = "2.738";

					avdd-reg = "vana";
					iovdd-reg = "vif";


					vertical-flip = "true";	

					mode0 { //OV5693_MODE_1920x1080
						mclk_khz = "24000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
                        			phy_mode = "DPHY";
						//discontinuous_clk = "no";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "1920";
						active_h = "1080";
						pixel_t = "uyvy";
						readout_orientation = "90";
						line_length = "2500";
						inherent_gain = "1";
						pix_clk_hz = "160000000";
						mclk_multiplier = "6.67";

						min_gain_val = "0";
						max_gain_val = "48";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1.816577";
						max_framerate = "30";
						min_exp_time = "34";
						max_exp_time = "660000";
						embedded_metadata_height = "0";
					};
					mode2 { //OV5693_MODE_1280X720
						mclk_khz = "24000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						//discontinuous_clk = "no";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "1280";
						active_h = "720";
						pixel_t = "uyvy";
						readout_orientation = "90";
						line_length = "1752";
						inherent_gain = "1";
						mclk_multiplier = "6.67";
						pix_clk_hz = "160000000";

						min_gain_val = "0";
						max_gain_val = "48";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1.816577";
						max_framerate = "30";
						min_exp_time = "34";
						max_exp_time = "660000";
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
                            status = "okay";
							ov5640_out1: endpoint {
                                status = "okay";
								port-index = <1>;
								bus-width = <4>;
								remote-endpoint = <&ov5640_csi_in1>;
							};
						};
					};
		
				};		
	};

	i2c@3180000 {
				ov5640_a@3c {
                   			status = "okay";
					compatible = "nvidia,ov5640";
					/* I2C device address */
					reg = <0x3c>;

					/* V4L2 device node location */
					devnode = "video0";

					/* Physical dimensions of sensor */
					physical_w = "3.674";
					physical_h = "2.738";
                    
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					avdd-reg = "vana";
					iovdd-reg = "vif";

					/* Sensor output flip settings */
					vertical-flip = "true";

					mode0 { //OV5693_MODE_1920x1080
						mclk_khz = "24000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
                       				phy_mode = "DPHY";
                        			//discontinuous_clk = "no";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "1920";
						active_h = "1080";
						pixel_t = "uyvy";
						readout_orientation = "90";
						line_length = "2500";
						inherent_gain = "1";
						pix_clk_hz = "160000000";
						mclk_multiplier = "6.67";

						min_gain_val = "0";
						max_gain_val = "48";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1.816577";
						max_framerate = "30";
						min_exp_time = "34";
						max_exp_time = "660000";
						embedded_metadata_height = "0";
					};
					mode2 { //OV5693_MODE_1280X720
						mclk_khz = "24000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "1280";
						active_h = "720";
						pixel_t = "uyvy";
						readout_orientation = "90";
						line_length = "1752";
						inherent_gain = "1";
						mclk_multiplier = "6.67";
						pix_clk_hz = "160000000";

						min_gain_val = "0";
						max_gain_val = "48";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1.816577";
						max_framerate = "30";
						min_exp_time = "34";
						max_exp_time = "660000";
						embedded_metadata_height = "0";
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
                            				status = "okay";
							ov5640_out0: endpoint {
                                			status = "okay";
								port-index = <0>;
								bus-width = <4>;
								remote-endpoint = <&ov5640_csi_in0>;
							};
						};
					};
		
				};	
	
			};

};  

/ {
    tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";
		/**
		* Physical settings to calculate max ISO BW
		*
		* num_csi_lanes = <>;
		* Total number of CSI lanes when all cameras are active
		*
		* max_lane_speed = <>;
		* Max lane speed in Kbit/s
		*
		* min_bits_per_pixel = <>;
		* Min bits per pixel
		*
		* vi_peak_byte_per_pixel = <>;
		* Max byte per pixel for the VI ISO case
		*
		* vi_bw_margin_pct = <>;
		* Vi bandwidth margin in percentage
		*
		* max_pixel_rate = <>;
		* Max pixel rate in Kpixel/s for the ISP ISO case
		*
		* isp_peak_byte_per_pixel = <>;
		* Max byte per pixel for the ISP ISO case
		*
		* isp_bw_margin_pct = <>;
		* Isp bandwidth margin in percentage
		*/
		num_csi_lanes = <6>;
		max_lane_speed = <1500000>;
		min_bits_per_pixel = <10>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <25>;
		max_pixel_rate = <160000>;
		isp_peak_byte_per_pixel = <5>;
		isp_bw_margin_pct = <25>;

		/**
		* The general guideline for naming badge_info contains 3 parts, and is as follows,
		* The first part is the camera_board_id for the module; if the module is in a FFD
		* platform, then use the platform name for this part.
		* The second part contains the position of the module, ex. “rear” or “front”.
		* The third part contains the last 6 characters of a part number which is found
		* in the module's specsheet from the vender.
		*/
		modules {
			module0 {
                status = "okay";
				badge = "ov5640_center_ov";
				position = "center";
				orientation = "1";
				drivernode0 {
                    status = "okay";
					/* Declare PCL support driver (classically known as guid)  */
					pcl_id = "v4l2_sensor";
					/* Driver v4l2 device name */
					devname = "ov5640 0-003c";
					/* Declare the device-tree hierarchy to driver instance */
					proc-device-tree = "/proc/device-tree/i2c@3180000/ov5640_a@3c";					
//proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@0/ov5640_a@3c";
//proc-device-tree = "/proc/device-tree/i2c@c240000/tca9548@70/i2c@0/ov5640_c@3c";
				};
				
			};
			module1 {
                status = "okay";
				badge = "ov5640_top_ov";
				position = "top";
				orientation = "1";
				drivernode0 {
                    status = "okay";

					pcl_id = "v4l2_sensor";

					devname = "ov5640 1-003c";

					proc-device-tree = "/proc/device-tree/i2c@c240000/ov5640_b@3c";					
//proc-device-tree = "/proc/device-tree/i2c@c240000/tca9548@70/i2c@1/ov5640_d@3c";
				};
				
			};
			module2 {
                status = "okay";
				badge = "ov5640_bottom_ov";
				position = "bottomleft";
				orientation = "1";
				drivernode0 {
                    status = "okay";

					pcl_id = "v4l2_sensor";

					devname = "ov5640 2-003c";

					proc-device-tree = "/proc/device-tree/i2c@3160000/ov5640_c@3c";
//proc-device-tree = "/proc/device-tree/i2c@c240000/tca9548@70/i2c@2/ov5640_a@3c";
				};
				
			};

		};
	};
};
